* {
  color: white;
  box-sizing: border-box;
  cursor: move; 
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  font-weight: 400 ;
  font-variant: small-caps;
}
body {
  margin: 0;  
  width: 100%;
}

#results, #instructions,#pauza {
  display: none;
  
}
#results, #instructions,#pauza {
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size:larger;
    height: 100%;
    max-width: 300px;
    background-color: rgba(48, 22, 22, 0.75);
    display: flex;
    padding :50px;

 }
h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
}
h2{
  color: rgb(39, 39, 2);
  font-size: 30px;
}
h3{
  font-size: 30px;
  color: rgb(21, 2, 56);
}
  
#results {
  display: none;
}
#pauza{
  display: none;
}
#score {
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 3em;
  right: 30px;
  
}

